
*{
    box-sizing: border-box;
  }

h1{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 37px;
    font-weight: bolder;
}
h2{

    font-family: 'Oswald', sans-serif;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 1px;

}
p{
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
    text-align:left;
    font-weight: 600;
}
.container{
    max-width:1100px;
    border:1px solid black;
    margin:0 auto;
    margin-top:20px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
   height: auto;
    
}
/************leftside***************/
.leftside img{
    max-width: 490px;
    height:700px;
    padding:10px 0 10px 7px;
    position: relative;
    z-index: -1;
    
}
 
.rectangle{
     height: 370px; 
  width: 50px;
  background-color: #FFD814;
 position: absolute;
 margin-top:-540px;
}


/**************right sie***************/

.rightside img{
   float:right;
   max-width:60px;
   height:70px;
   padding-top:10px;
   padding-right:15px;
    
}

.rightside hr{
     width:150px;
    border:7px solid #FFD814;
    margin-top:60px;
    margin-left:1px;
}
article{
    /* border:solid gray; */
    max-width:480px;
}
h3{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    font-size:12px;
    text-align: right;
    position: relative;
    margin-top:70px;
    padding-right:15px;
   
}