body{
    background-color:rgb(218, 236, 252)

}
.container{

	margin:30px auto;
	background-color:#fff;
	height: 700px;
	width: 75%;
}
h1{

    position: relative;
    padding-top: 20px;
	text-transform: uppercase;
	color: #d1d1ec;
	font-size: 12px;
	font-family: Roboto;
	text-align: center;

}
h2{
	font-family: Arial;
	font-size: 25px;
    color: #2a067e;
    text-align: center;
}
h3{
    font-family: Arial;
	font-size: 11px;
    color:rgb(114, 114, 105);
    text-align: center;
}
button{
background-color: rgb(133, 219, 253);
border: none;
color: rgb(29, 77, 236);
padding: 10px 10px;
text-align: center;
font-family: Roboto;
text-decoration: none;
display: inline-block;
font-size: 12px;
margin-right: 10px;
border-radius: 5px;

}
.body{

	margin-left: 10px;
	margin-right: 40px;
}
.grid-container {
	padding-left: 10px;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	grid-column-gap: 2px;
	grid-row-gap: 2px;
	padding: 10px;
  }
  .grid-item {
	border: 2px solid rgb(133, 219, 253);
	padding: 50px;
	font-size: 30px;

  }

  .grid-item:hover {
	background-color: #2a067e;

  }