* {
    box-sizing: border-box;
  }
    
  .container {  
   
    max-width:1110px;
    /* border:1px solid black;  */
    margin:0 auto;
    margin-top:10px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
  

  }
  /********************leftside**********************/
  .leftside {
    
   max-width:500px;
    padding-top:100px;
    padding-left:25px;
    /* border:solid green; */
    
  }

  hr{
  width:143px;
  border:7px solid #FFD814;
  margin-top:35px;
  margin-left:1px;
}
h1{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bolder;
}

h2{
  font-family: 'Oswald', sans-serif;
  text-transform: capitalize;
  font-size: 26px;
  font-weight: 200;
  letter-spacing: 1px;

}
p{
  font-family: 'Open Sans', sans-serif;
  font-size:19px;
  text-align:left;
  font-weight:600;
}


/*****************rightside******************/

 .circle_images{
  position: relative;
  padding-top:10px;
  max-width: 710px;
  /* border:1px solid red;  */
 }

  img{
    float:right;
    max-width:70px;
    height:70px; 
    padding-top:10px;
    padding-right: 10px;
  
 }
   .circle {
    height: 290px;
    width: 270px;
    background-color: #FFEB82;
    border-radius: 50%;
    margin-top:160px;
    margin-left:140px;
    position: absolute;
  }

.circle_image2{
    border-radius: 50%;
    height: 340px;
    width: 320px;
    background-image: url("image2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 315px;
    margin-bottom:530px;
    position: relative;

}

.circle_image3{
    border-radius: 50%; 
    height: 210px;
    width: 210px;
    background-image: url("image3.jpg");
    background-color:#FFEB82;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:-610px;
    margin-left:450px; 
    margin-right:30px;
    position: relative;
}
.circle_mid{
  border-radius: 50%; 
  height: 210px;
  width: 210px;
  background-color:#FFEC85;
   margin-top:-210px;
  position: relative;
  margin-left: 450px;
  margin-right:30px;
  opacity: 0.7; 
} 

 .circle_image4{
    border-radius: 50%; 
    height: 290px;
    width: 260px;
    background-image: url("image4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left:140px;
    margin-top:-100px;
   position: relative;
    
    
}

.circle_last{
    height: 120px;
    width: 110px;
    background-color:  #fad14b;
    border-radius: 50%;
    opacity: 0.7;
    margin-left:340px;
    margin-top:-105px;
   
  } 

  h3{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    font-size:12px;
    text-align: right;
    position: relative;
    padding-right:15px;
   
}